/* Estilo de botões */
button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
    width: 100%;
  }
  
  button.btn-primary {
    background-color: var(--cor-primaria);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    /* Espaçamento entre o texto e o ícone */
  }
  
  button.btn-secondary {
    background-color: transparent;
    border: 2px solid var(--cor-secundaria);
    color: var(--cor-secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    /* Espaçamento entre o texto e o ícone */
  }
  
  /* Estilo do botão quartary */
  button.btn-quartary {
    background-color: transparent;
    border: 2px solid var(--cor-primaria);
    color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    /* Espaçamento entre o texto e o ícone */
  }
  
  button.btn-delete {
    background-color: var(--cor-delete);
    color: white;
    border: none;
    padding: 10px 20px;
    /* Ajustei o padding para ser mais consistente com os outros botões */
    font-size: 16px;
    display: flex;
    align-items: center;
    /* Garante que o conteúdo fique centralizado verticalmente */
    justify-content: space-between;
    /* Coloca o texto e o ícone nas extremidades */
    gap: 8px;
    /* Adiciona um espaço entre o texto e o ícone */
  }
  
  button.btn-zap {
    background-color: var(--cor-zap);
    color: white;
    border: none;
    padding: 10px 20px;
    /* Ajustei o padding para ser mais consistente com os outros botões */
    font-size: 16px;
    display: flex;
    align-items: center;
    /* Garante que o conteúdo fique centralizado verticalmente */
    justify-content: space-between;
    /* Coloca o texto e o ícone nas extremidades */
    gap: 8px;
    /* Adiciona um espaço entre o texto e o ícone */
  }
  
  button.btn-quartary:hover {
    color: white;
    background-color: var(--cor-primaria);
    /* Muda para cor primária ao passar o mouse */
  }
  
  button.btn-quartary:active {
    background-color: var(--cor-primaria);
    /* Cor ao clicar */
    transform: scale(0.95);
    /* Reduz o tamanho ao clicar */
  }
  
  .btn-config {
    background-color: black;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }
  
  /* Define o tamanho do ícone dentro de cada tipo de botão */
  /* Torna o botão um contêiner flexível */
  /* Ajustar a flexbox para botões */
  button.btn-primary,
  button.btn-secondary,
  button.btn-quartary,
  button.btn-tertiary {
    display: flex;
    align-items: center;
    /* Garante que o texto e o ícone fiquem centralizados verticalmente */
    justify-content: space-between;
    /* Coloca o ícone no fim do botão, ou 'flex-end' */
    gap: 8px;
    /* Adiciona espaçamento entre o texto e o ícone */
  }
  
  /* Estilo para o ícone */
  .btn-primary svg,
  .btn-quartary svg,
  .btn-secondary svg,
  .btn-tertiary svg {
    font-size: 1.2rem;
    /* Ajuste o tamanho do ícone */
    margin-left: 8px;
    /* Espaçamento entre o texto e o ícone */
  }
  
  button.btn-secondary:hover {
    background-color: var(--cor-secundaria);
    color: white;
  }
  
  button.btn-primary:hover {
    background-color: var(--cor-secundaria);
    color: white;
  }
  
  button.btn-tertiary {
    background-color: var(--cor-secundaria);
    color: white;
    border: none;
    padding: 10px 20px;
    /* Ajustei o padding para ser mais consistente com os outros botões */
    font-size: 16px;
    display: flex;
    align-items: center;
    /* Garante que o conteúdo fique centralizado verticalmente */
    justify-content: space-between;
    /* Coloca o texto e o ícone nas extremidades */
    gap: 8px;
    /* Adiciona um espaço entre o texto e o ícone */
  }
  