.header {
    background-color: var(--cor-secundaria);
    color: white;
    text-shadow: 
    -1px -1px 0 black, /* Sombra para cima e esquerda */
     1px -1px 0 black, /* Sombra para cima e direita */
    -1px  1px 0 black, /* Sombra para baixo e esquerda */
     1px  1px 0 black; /* Sombra para baixo e direita */
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.header h1 {
    color: white;
    margin: 0;
    font-size: 24px;
}

.header p {
    margin: 5px 0 0;
    font-size: 14px;
    width: 100;
}

.logo {
    margin: 20px 0;
    background-color: red;
    height: 150px;
    border-radius: 10px;
}

.containerHome {
    margin: 10px;
}

.paradaBarbeariaCss {
    margin: 1%;
    background-color: transparent;
    height: 150px;
    border-radius: 10px;
}

.groupButton {
    display: flex;
    flex-direction: column; /* Faz os itens ficarem um embaixo do outro */
    justify-content: center; /* Centraliza verticalmente dentro do contêiner */
    align-items: center; /* Alinha os itens ao centro */
    text-align: center;
    margin: 0 auto;
    gap: 5px; /* Espaço entre os botões */
    width: fit-content; /* Garante que o container não fique muito largo */
}


.title {
    color: var(--cor-primaria);
    font-size: 20px;
    margin: 15px 0 5px;
}

.subtitle {
    color: var(--cor-primaria);
    font-size: 14px;
    margin: 0 0 20px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.logoNovus {
    width: 8%;
    height: 8%;
    border-radius: 30%;
}

.linkLocalizacao {
    display: flex;
    width: fit-content; /* Ocupa apenas o espaço necessário */
    align-items: center;
    gap: 8px;
    background-color: black;
    color: white;
    padding: 10px 16px;
    border-radius: 100px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
  }
  
  .linkLocalizacao:hover {
    background-color: gray;
  }
  
